body {
    height: 500px;
    background-image: url("https://mcdn.wallpapersafari.com/medium/35/9/KOE4lC.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
.formato{ 
    background: rgba(236, 81, 8, 0.3);
}
.btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}